s3_mqtt_postprocessing/aws_state_machine.json
{
  "Comment": "A state machine that processes files in an S3 bucket using Lambda functions.",
  "StartAt": "InvokeІS3PreprocessingLambda",
  "States": {
    "InvokeІS3PreprocessingLambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:448325228795:function:shelly_mqtt_data_s3_postporcessing_lambda:1",
      "Next": "IsThereMoreFilesInS3ToProcess",
      "ResultPath": "$.lambdaOutput"
    },
    "IsThereMoreFilesInS3ToProcess": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.lambdaOutput.hasMoreFiles",
          "BooleanEquals": true,
          "Next": "InvokeІS3PreprocessingLambda"
        },
        {
          "Variable": "$.lambdaOutput.hasMoreFiles",
          "BooleanEquals": false,
          "Next": "InvokeTransferToGCPLambda"
        }
      ],
      "Default": "EndProcessing"
    },
    "InvokeTransferToGCPLambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-central-1:448325228795:function:shelly_tunel_data_s3_gcp_lambda:1",
      "Parameters": {
        "s3bucket.$": "$.lambdaOutput.s3bucket",
        "filenames.$": "$.lambdaOutput.filenames"
      },
      "End": true
    },
    "EndProcessing": {
      "Type": "Succeed"
    }
  }
}