s3_mqtt_postprocessing/aws_state_machine.json
{
  "Comment": "A state machine that processes files in an S3 bucket using a Lambda function.",
  "StartAt": "InvokeLambda",
  "States": {
    "InvokeLambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:448325228795:function:shelly_mqtt_data_s3_postporcessing_lambda",
      "Next": "IsThereMoreFiles"
    },
    "IsThereMoreFiles": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.hasMoreFiles",
          "BooleanEquals": true,
          "Next": "InvokeLambda"
        }
      ],
      "Default": "EndProcessing"
    },
    "EndProcessing": {
      "Type": "Succeed"
    }
  }
}