s3_mqtt_postprocessing/aws_state_machine.json
{
  "Comment": "A state machine that processes files in an S3 bucket using Lambda functions.",
  "StartAt": "InvokeІS3PreprocessingLambda",
  "States": {
    "InvokeІS3PreprocessingLambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:448325228795:function:shelly_mqtt_data_s3_postporcessing_lambda:1",
      "Next": "IsThereMoreFilesInS3ToProcess",
      "ResultPath": "$.lambdaOutput",
      "Comment": "Invokes the Lambda function to preprocess data from S3. Stores the output in $.lambdaOutput."
    },
    "IsThereMoreFilesInS3ToProcess": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.lambdaOutput.hasMoreFiles",
          "BooleanEquals": true,
          "Next": "InvokeІS3PreprocessingLambda",
          "Comment": "If there are more files to process, invoke the preprocessing Lambda again."
        },
        {
          "Variable": "$.lambdaOutput.hasMoreFiles",
          "BooleanEquals": false,
          "Next": "InvokeTransferToGCPLambda",
          "Comment": "If there are no more files to process, proceed to transfer files to GCP."
        }
      ],
      "Default": "EndProcessing",
      "Comment": "Decides the next step based on whether there are more files to process."
    },
    "InvokeTransferToGCPLambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-central-1:448325228795:function:shelly_tunel_data_s3_gcp_lambda:1",
      "Parameters": {
        "s3bucket.$": "$.lambdaOutput.s3bucket",
        "filenames.$": "$.lambdaOutput.filenames"
      },
      "End": true,
      "Comment": "Invokes the Lambda function to transfer the processed files from S3 to GCP. Uses parameters passed from the previous Lambda output."
    },
    "EndProcessing": {
      "Type": "Succeed",
      "Comment": "Marks the end of the state machine execution."
    }
  }
}